*{
    margin:0px;
    padding:0px;
}
body{
    background-color: azure;
}
.nav{
    position:absolute;
    height: 50px;
    width:95%;
    margin: 20px;
 display: flex;
 
 background-color: rgba(255, 255, 255, 0.5);
 z-index: 999;
 border-radius: 20px;
}
.fw{
    text-align: center; 
   margin-top: 10px;
    flex-grow: 1;
    font-weight :900;
    margin-left: 100px;
}
.element{
    
    margin-left: 50px;
    flex-grow: .6;
    display:flex;
    justify-content: center;
}
.element1{
    
    text-decoration: none;
    margin-left: 5px;
    padding: 15px;
    color:rgb(101, 98, 98);
    
    transition: background-color 0.1s ease-in-out;
}
.element1:hover{
    background-color: black;
    color: white;
}

@media (max-width:650px){

    .testimonial{
        border-top-right-radius:20px ;
        border-bottom-right-radius: 20px;
    }
}
/* ************body1*********** */
#body1{
    font-size: 25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body1{
    height: 60vh;
   max-width: 100vw;
    background-size: cover;
    background-image:url("header-image2.jpg") ;
    background-position:center; 
     background-repeat: no-repeat;
     
}
.Menu-button-a {
    display:inline-block;
 text-decoration: none;
 color: rgb(247, 242, 242);
 outline:none;
 
}
.button1{
    font-weight: 600;
    margin-top: 5px;
    padding: 7px 10px 7px 10px;
    border-radius: 50px;
    background: #16a083;
    
}
.container{
    max-width:1200px;
    width:90%;
    margin:auto;
}
/* ***************** body2 ***************** */
.body2{
     margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f3fafa;
    
}
@keyframes slide-in {
     to{
        transform: translate(0%);
     }
    
}
.body2-text{
    padding: 50px;
 width: 30vw;
 flex:1 1 400px;
 transform: translateX(-100%);
    animation: slide-in 1s ease-in-out forwards;
}

.p1{
    font-size: 1.1rem;
    font-weight: 600;
}
.p2{
    font-size: 1.8rem;
    font-weight: 900;
}
.p3{
    font-size:  1.1rem;
}
.body2-image{
    padding: 50px;
    flex:1 1 400px;
    transform: translateX(200%);
    animation: slide-out 1s ease-in-out forwards;
}
@keyframes slide-out {
    to{
       transform: translateX(0%);
    }
   
}
.img2{
   display:block;
   height:400px;
   max-width: 100%;
    margin:auto;
    object-fit: cover;
    object-position: right;
}

/* ************b0dy3****** */
.img3-a{
    text-decoration: none;
    color:#f3fafa
}
.type-of-food{
    margin-top: 10px;
   
}
.type-of-food > h3{
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 40px;
    color:#555;
}
.img3{
    margin: 10px;
    display:flex;
    justify-content: space-evenly;
}
.img3-same{
    margin:0 1rem;
    position: relative;
    border-radius: 20px;

}

.img3-same1{
    max-height:300px ;
    margin:auto;
    position: relative;
    border-radius:10px ;
   width:100%;
   object-fit: cover;
   object-position: center;
}

.img3-content{
    position:absolute;
   top:70%;
   left:50%;
   transform:translate(-50%,-50%);
   opacity:0;
   z-index: 2;
   text-align:center;
   transition: all 0.3s ease-in-out 0.1s;
}
.img3-content h3{
    color:#fff;
    font-size:2rem;
}
.img-content a{
    font-size:1.2rem;
}
.img3-same::after{
 content:'';
 display:block;
 position: absolute;
 border-radius:10px ;

 top:0;
 left:0;
 width:100%;
 height:100%;
 background: rgba(0,0,0,0.871);
 z-index:1;
 opacity: 1;
 transform: scaleY(0);
 transform-origin: 100% 100%; 
 transition: all 0.3s ease-in-out ;

}
.img3-same:hover::after{
    opacity:1;
    transform:scale(1);
}
.img3-same:hover .img3-content{
   opacity: 1;
   top: 40%;
}
/* ***********main3********** */
.main3{

    margin-top: 20px;
    
}
.main3 h3 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color:#555
}
.main3-items{
    margin:20px;
    display:flex;
     flex-wrap: wrap;
}
.same4{
 display: block;
}

.same5{
    display:flex; 
    background-color: rgb(244, 244, 244);
    margin:10px 0px 20px 10px;
    height:33vh;
    padding:10px;
}
.same6{
    height:200px;
    width:200px;
    border-radius: 50%;
    background-size: contain;
    object-fit: cover;
    object-position: center;
}
.same7{
    font-size: 20px;
    font-weight: 800;
    padding:2vh;
    color: #16b63e;
}
.item-text-same h3{
    text-align: start;
}
.item-text-same{
    
    margin-left: 10px;
    margin-bottom: 10px;
}
/* **********main4********** */
.main4 h3{
    text-align:center;
    font-size: 40px;
    font-weight: 600;
    color:#555;

}
.main4{
    min-height: 60vh;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main4-customer{
    margin-top: 30px;
    min-height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.star{
    text-align: center;
    color: goldenrod;
}
.customer-advice{
    padding: 10px;
}
.cus-same{
    background-color: #f8f6f6;
    max-width:300px;
    width:80%;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
}
.same-cus-img{
    margin: 10px 10px 10px 10px;
position: relative;
text-align:center;
}
.same-img{
    height:150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/* ************main5******** */
.main5{
    min-height: 40vh;
    margin-top: 40px;
    background-color: rgb(243, 243, 243);
}
.main5-item{
    padding: 10px;
    margin: 20px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.main5-img{
    height: 35vh;
   
}
.main5-contact{
    height:36vh;
    background-color: #f3fafa;
    flex-grow: 0.825;
    padding-left: 10px;
}
.contact-us{
    font-size:25px ;
    color:#555;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #555;
}
.name{
    font-size:15px ;
    color:#555;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #555;
}
.E-mail{
    font-size:15px ;
    color:#555;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #555;
}
.Type-the-message{
    font-size:15px ;
    color:#555;
    
    margin-bottom: 8px;
    padding-bottom: 15px;
    border-bottom: 2px solid #555;
}
footer{
    height: 60px;
    font-size: larger;
    font-weight: bold;
    color: #f3fafa;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}
